.catalogtable{
    grid-area: catalogtable;
    .catalogtable__cards{
        gap: 5px;
    }
    nav{
        margin-top: 25px;
        ul{
            justify-content: center;
        }
    }
}
@media screen and (max-width:767px) {
    .catalogtable__cards{
        grid-template-columns: 1fr 1fr !important;
    }
}
@media screen and (max-width:500px) {
    .catalogtable__cards{
        grid-template-columns: 1fr !important;
        justify-content: center;
    }
}
