@import 'consts.scss';
@import 'mystyles.scss';


.profile{
    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
        background-color: $maincolor !important;
        color: white;
    }
    .css-1aquho2-MuiTabs-indicator{
        display: none;
    }
    .css-19kzrtu{
        padding: 0;
    }
    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
        @include size(font-size, 12, 14);
        padding: 12px;
    }
    .css-1wf8b0h-MuiTabs-flexContainer{
        flex-wrap: wrap;
    }
}